body {
  background-color: black;
}
#container {
  border: 8px solid red;
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

#div1 {
  background-color: blue;
  flex: 1;
}

#div2 {
  background-color: deeppink;
  flex: 0.5;
}

#div3 {
  background-color: green;
  flex: 4;
}

#div4 {
  background-color: silver;
  flex: 1;
}
